<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey this is the about page for Kiyber</h1>
    <p>Welcome to Kiyber.</p>
    <p>If you'd like to follow along for new news, find us on Twitter <a href="http://twitter.com/kiyber">@Kiyber</a> or on the web at <a href="https://kiyber.com">Kiyber</a>, and get new posts and exclusive content in your inbox by signing up for the newsletter <a href="http://feedburner.com/kiyber">here</a>.</p>
  </div>
</div>
