<h1>Bermuda's best goods</h1>

<% @items.each do |item| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to item.title, item %></h2>
    <p class="date"><%= item.created_at.strftime("%B %d, %Y") %></p>
<!--     <p><%= link_to item.category_id, item.category_id %></p>
 -->  </div>
<% end %>
